{{template "header" .}}
<nav class="navbar navbar-default navbar-fixed-top" style="opacity: .9" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Hello</a>
        </div>
    </div><!-- /.container-fluid -->
</nav>


<div >
	<div class="container" style="width:30%; padding-top: 150px">
	
		<h1>Chattttt</h1>
		<br>
		<div class="panel panel-default">
			<div class="panel-body" style="height:30%;overflow:auto;" id="log">
			Basic panel example
			</div>
		</div>
		<div class="row">
		<div class="col-sm-2">
			<input type="text" class="form-control" id="uname" value="lmw"  placeholder="输入用户名">
			</div>
		<div class="col-sm-8">
			  <input type="text" id="msg" value="hello websocket" class="form-control" placeholder="输入消息...">
			</div>
		<div class="col-sm-2">
		  <button class="btn btn-default" onclick="Send()">Send!</button>
		</div>
		</div><!-- /input-group -->
	</div>
</div>


<!--http://arlimus.github.io/articles/gin.and.gorilla/-->

<script>

var ws;

function Send(){
	var uname=$("#uname").val()
	if(uname===""){
		alert("用户名不能为空")
		return
	}	
	
	ws=new WebSocket('ws://localhost/ws/'+uname);
	ws.onopen=OnOpen;
	ws.onmessage =OnMessage;
}

function OnOpen(){
	ws.send($("#msg").val())
}

function OnMessage(msg){
	$("#log").append("<br>").append(event.data);
   $("#log").scrollTop($("#log")[0].scrollHeight);
}


</script>

{{template "footer" .}}