{{template "header" .}}
<nav class="navbar navbar-default navbar-fixed-top" style="opacity: .9" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Hello</a>
        </div>
    </div><!-- /.container-fluid -->
</nav>


<div >
<div class="container" style="width:30%; padding-top: 150px">

<form action="/sp" method="post">
<h1>Spiderrr</h1>
<br>

<div class="input-group">
      <input type="text" name="urll" value="http://www.cnblogs.com/" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Go!</button>
      </span>
    </div><!-- /input-group -->

</form>

<ul class="list-group">
{{range $title:=.titles}}
<li class="list-group-item title">{{$title}}</li>
{{end}}
</ul>

</div>
</div>